body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f9fa;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.1);
  width: 300px;
}

h1 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

#leaderboard {
  list-style: none;
  padding: 0;
}

#leaderboard li {
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

#leaderboard li:last-child {
  border-bottom: none;
}

.first-place {
  font-size: 1.8rem; /* Grande per il primo posto */
  font-weight: bold;
  color: gold;
  /*background-color: #fff3cd;*/
}

.second-place {
  font-size: 1.5rem; /* Medio per il secondo posto */
  font-weight: bold;
  color: silver;
  /*background-color: #e9ecef;*/
}

.third-place {
  font-size: 1.4rem; /* Leggermente più grande per il terzo posto */
  font-weight: bold;
  color: #cd7f32; /* Colore bronzo */
  /*background-color: #f8d7da;*/
}